body {
  background-color: #90150d;
  font-size: 0.375rem;
}

.game {
  box-sizing: border-box;
  height: 9.53125rem;
  background: url(../image/scratch/bg.jpg) no-repeat;
  padding-top: 7.28125rem;
  background-size: cover;
  max-width: 540px;
  margin: 0 auto;
}
.game__scratch-area {
  margin: 0 auto;
  width: 6.9375rem;
  height: 1.17188rem;
}

.game-describe {
  padding: 0 0.625rem;
}
.game-describe__title {
  padding: 0.46875rem 0;
  font-size: 0.5rem;
  color: #ffc404;
}
.game-describe__content {
  font-size: 0.4375rem;
  color: #fff;
  text-indent: 2em;
  line-height: 1.5em;
}
